<div class="wrapper">
  <div class="photo-button">

    <div class="container">
      <h1>My Profile</h1>
      <br>
      <br>
      <br>
      <h4><strong>First name: </strong></h4><%= @current_user.first_name %>
      <h4><strong>Last name: </strong></h4><%= @current_user.last_name %>
      <h4><strong>Address: </strong></h4><%= @current_user.address %>
      <h4><strong>Description: </strong></h4><%= @current_user.description %>
    </div>
  </div>
</div>
