
.wrapper_show {
  background-color: #E0F2E9;
  padding: 50px;

}

.show_card-dispo {
  position: absolute;
  top: 8px;
  right: 50px;
  margin-top: 5px;
  margin-right: 150px;
}

.btn-medium_show {
  margin-left: 130px;
  margin-top: 50px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 80px;
  background-color: #ffff99;
  color: red;
  font-size: 14px;
  border: 2px solid #80ffcc;
}
.btn-medium_show:hover {
  color: #ffff99;
  background: #D23333;
  border-color: #ac2626;
}

.show_card-image {
    height: 300px;
    width: 400px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    // background-size: cover !important;
    color: white;
    bottom: 100px;
    border-radius: 10px;
}



.card_show {
    position: absolute;
    background-color: white;
    height: 100px;
    margin-top: 20px;
    margin-left: 100px;

}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 60px;
    margin-left: 4px;
    margin-bottom: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group {
    margin-bottom: 20px;
    margin-top: 333px;
    margin-left: 95px;
    margin-right: 195px;
    padding-left: 0;
}

.label-success {
    background-color: #32B796;
    margin-left: 15px,
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
