
<h1>Pending Requests</h1>
<br>
<br>
<br>
  <% @bookings_for_owner.each do |booking| %>
    <ul>
      <li><%= booking.hamac.name %> - <em>Booked by</em> :
      <%= link_to "#{booking.user.first_name} #{booking.user.last_name}", profile_path %>
      <a class="btn btn-success" href="">Accept</a>
      <a class="btn btn-danger" href="">Refuse</a>
      </li>
    </ul>
  <% end %>



