<head>
  <link rel="stylesheet" href="index/style.css">
</head>

<body>


<div>
  <h2>Pending Requests</h2>
  <% @pending_hamacs.each do |h| %>
    <ul>
      <li><%= h.name %></li>
    </ul>
  <% end %>
</div>

<div>
<h2>Currently booked</h2>
  <% @booked_hamacs.each do |h| %>
    <ul>
      <li><%= h.name - "Booked by #{@booking_user.first_name} #{@booking_user.last_name}"%>
        <%= link_to "Accept", owner_hamacs_path, class: "btn btn-success" %>
        <%= link_to "Refuse", owner_hamacs_path, class: "btn btn-warning" %>
      </li>
    </ul>
  <% end %>
</div>



</body>











