.form-container {
  width: 400px;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(102, 153, 204, 1);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: -20px;
}

