
<!-- <div class="wrapper"> -->
<!-- container avec 3 cards => name + disponibility + button booking -->
  <div class="container">
    <div class="show_card_name_status_button">
      <h3 class="show_card-name"><%= @hamac.name %></h3>
      <div class="show_price_dispo">
      <p class="show_card-price"><%= @hamac.price %> €</p>
      <div class="show_card-dispo">
        <% if @hamac.disponibility %>
          <span class="label label-success">Available</span>
        <% else %>
          <span class="label label-danger">Not available</span>
        <% end %>
        </div>
      </div>
      <a href="#" class="btn-medium">Book now</a>
    </div>

  <!-- container avec la photo + la map geolocalisation -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="show_card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @hamac.photo, height: 300, width: 400, crop: :fill %>');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    <!-- remplacé l'image par la map -->
      <div class="show_card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @hamac.photo, height: 300, width: 400, crop: :fill %>');">
      </div>
    </div>
  </div>
<div class="show_card_description">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga non dolores quidem, quasi doloremque earum odio, quod. Provident, maiores quo excepturi, dolorum tenetur reiciendis. Suscipit voluptatem dolore veritatis praesentium odit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore vero voluptates quod amet, quidem, officia quas reprehenderit veritatis sunt dolore, saepe velit perferendis, temporibus in assumenda modi corporis ipsa. </p>
</div>

  </div>

<!-- </div> -->



